* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body {
  background: #fff;
  /*margin: 0;*/
  font-family: "monospace";
}
hr {
background: #4f4f4f;
}
input {
  font-size: 16px;
  padding: .25em .5em;
  background-color: #fff;
  border: 2px solid #8b8a8b;
  border-radius: 4px;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: #ffe;
  padding: 0.5em 0.5em
}
.title {
  cursor: pointer;
}

.btn {
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  background: #000;
  padding-left: 1em;
  padding-right: 1em;
  color: #fff;
  margin: 10px;
}
.btn:hover {
  background: grey;
}

.nobtn {
  border: none;
  text-decoration: bold;
  border-radius:5px;
  padding: 10px;
}

.hbtn {
  border: 1px solid grey;
  border-radius: 8px;
  height: 30px;
  background: #fff;
  padding-left: 1em;
  padding-right: 1em;
}

.main {
  display: flex;
  background: #fff;
  flex-direction: column;
  justify-content: center;
}

.midbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}

.box30 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border: 2px solid #000;
  border-radius:10px;
  max-height: 30%;
  max-width: 40%;
  padding: 5em 10em;
  gap: 10px;
  margin: 5em;
  font-weight: bold;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  border-radius:10px;
  padding: 2em;
  gap: 10px;
  margin: 10px;
  max-width: 30%;
}

/* dropdown menu */
.dropbtn {
  border: none;
  text-decoration: bold;
  border-radius:0px;
  padding: 10px;
  width:200px;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  background-color: #59f;
  cursor: pointer;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
  cursor: pointer;
}
/* flex  */
.flcolumn {
  display: flex;
  flex-direction: column;
  gap:10px;
}
.flrow {
  display: flex;
  gap:10px;
}

.error {
  color: #ff0000
}

.search {
  width: 50%
}

.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}
